$white: #FFFFFF;
$white1: #F7F7F8;
$white2: #EFEFF4;
$blue: #007AFF;
$blue1: #0CAFE8;
$grey: #8E8E93;
$grey1: #DDDBDB;
$grey2: #C8C7CC;
$yellow: #FFD800;
$yellow1: #E8B00C;

actionbar{
	background-color: $white1;
	border-top: 1px solid $grey;
	border-bottom: 1px solid $grey;
	a.button{
		font-weight: normal;
		font-size: 1.2em;
		border-radius: 0;
		background-color: transparent;
		border: 0;
		border-radius: 0;
	}
}

a.button{
	border-radius: 5px;
	border:2px solid $blue;
	background-color: $white;
	color:$blue;
	font-weight: bold;
	box-sizing: content-box;
}

a.button:active{
	background-color: $blue;
	color:$white;
}
row.button:active{
	&:active{
		color: $blue;
	}
	background-color: $white2;
}

page.floating{
	border-radius: 5px;
	actionbar:first-of-type:not(:last-child){
		border-top: 0;
		font-size: 16px;
		font-weight: normal;
		text-transform: uppercase;
		color: rgba(black,0.4);
	}
	actionbar:last-of-type:not(:first-child){
		border-bottom: 0;
	}
	border: 2px solid $grey;
}


panel.master{
	&:after,&:before{
		background-color: $white2;
		color: $blue;
	}
}
row.head{
	padding-top: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	font-size: 16px;
	font-weight: normal;
	text-transform: uppercase;
	color: rgba(black,0.4);
	background-color: $white1;
	border-bottom: 1px solid $grey2;
	&[novis]{
		display: none;
	}
}

row.content{
	actionbar{
		border-bottom:0;
	}
}

row.item{
	padding: 5px 0px;
	margin: 0px 5px;
	margin-top: -1px;

	border-top: 1px solid $grey2;
	border-bottom: 1px solid $grey2;
	&:first-of-type{
		border-top: 0;
	}

	a.button{
		border-radius: 0;
		padding: 5px;
		border: 0;
		&:active{
			background-color: transparent;
			color: $blue;
		}
	}

	a.button.o{
		border-radius: 5px;
		border: 2px solid $blue;
		margin: 5px;
		&:active{
			background-color: $blue;
			color:$white;
		}
	}

}

#GroupsMasterGroup{
	row.item{
		span{
			border-right: 1px solid $grey;
			margin-right: 10px;

		}
		a.button:last-of-type{
			margin-right: 10px;
		}
	}
}
name{
	margin-left: 5px;
	padding-top: 2px;
}
serial{
	padding-top: 2px;
	padding-bottom: 2px;
	margin-left: 10px;
	font-size: 14px;
}

label.text{
	-webkit-box-flex: 1;
}

login{
	label, a.button{
		max-width: 50%;
		width: 100%;
	}
	a.button{
		margin-top: 5px;
	}
	label.text{
		-webkit-box-flex:0;
		position: relative;

		display: -webkit-box;
		box-sizing: content-box;
		overflow: hidden;
		-webkit-box-align: stretch;
		-webkit-box-pack: justify;
		-webkit-box-orient: horizontal;
		font-weight: normal;
		font-style: normal;
		font-weight: normal;
		margin: 5px 5px;
		border: 2px solid $blue;
		border-radius: 5px;
		input{
			padding: 5px;
		}
	}
	label.text.noicon:before{
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		display: -webkit-box;
		content: "\f073 ";
		color: $blue;
		-webkit-box-flex: 1;
		-webkit-box-align: center;
		-webkit-box-pack: center;
		-webkit-box-orient: vertical;
		width: auto;
		min-width: 50px;
		max-width: 50px;
		border-right: 2px solid $blue;
	}
}

label.checkbox{
	padding: 5px;
	border-radius: 5px;
	overflow: hidden;
	input{
		-webkit-box-flex:1;
		position: relative;
		box-sizing: content-box;
		border: 2px solid $blue;
		border-radius: 25px;
		background-color: rgba($blue1, 0.1);
	}
	input:after{
		display: -webkit-box;
		margin: 0;
		padding: 0;
		position: absolute;
		height: 100%;
		top: -2px;
		left: 75%;
		width: 50%;
		-webkit-box-align: center;
		-webkit-box-pack: center;
		-webkit-box-orient: horizontal;
		border-radius: 100%;

		border: 2px solid $blue;
		background-color: $blue1;
		color: $blue;
		-webkit-transform: translate3d(-50%, 0,0);

		font-family: "FontAwesome";
		content: "\f09c";
		// box-shadow: -1px 0px 5px black;
	}
	input:checked{
		border-color: $yellow1;
		background-color: rgba($yellow, 0.1);
	}
	input:checked:after{
		content: "\f023";
		left: 25%;
		border: 2px solid $yellow1;
		background-color: $yellow;
		color: $yellow1;
		-webkit-transform: translate3d(-50%, 0,0);
		// box-shadow: 1px 0px 5px black;
	}
}


label.textarea{
	padding: 5px;
	border-radius: 5px;
	textarea{
		border-radius: inherit;
		display: -webkit-box;
		-webkit-box-flex:1;
		width: 100%;
		height: 100%;
		-webkit-appearance: none;
		// border: 0;
		padding: 0;
		margin: 0;
		resize:none;
	}
}

label.username, label.password{
	-webkit-box-flex:0;
	position: relative;

	display: -webkit-box;
	box-sizing: content-box;
	overflow: hidden;
	-webkit-box-align: stretch;
	-webkit-box-pack: justify;
	-webkit-box-orient: horizontal;
	font-weight: normal;
	font-style: normal;
	font-weight: normal;
	border: 2px solid $blue;
	border-radius: 5px;
	margin: 5px;
	input{
		padding: 5px;
	}
	&:before{
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		display: -webkit-box;
		content: "\f0d7";
		color: $blue;
		-webkit-box-flex: 1;
		-webkit-box-align: center;
		-webkit-box-pack: center;
		-webkit-box-orient: vertical;
		width: auto;
		min-width: 50px;
		max-width: 50px;
		border-right: 2px solid $blue;
	}
}
label.username:before{
	content: "\f007";
}
label.password:before{
	content: "\f069";
}



label.select{
	position: relative;

	display: -webkit-box;
	box-sizing: content-box;
	overflow: hidden;
	-webkit-box-align: stretch;
	-webkit-box-pack: justify;
	-webkit-box-orient: horizontal;
	font-weight: normal;
	font-style: normal;
	font-weight: normal;
	margin: 5px 5px;
	border: 2px solid $blue;
	border-radius: 5px;
	input{
		padding: 5px;
	}
	&:after{
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		display: -webkit-box;
		content: "\f0d7";
		color: $blue;
		-webkit-box-flex: 1;
		-webkit-box-align: center;
		-webkit-box-pack: center;
		-webkit-box-orient: vertical;
		width: auto;
		min-width: 50px;
		max-width: 50px;
		border-left: 2px solid $blue;
	}
}
label.text{
	position: relative;

	display: -webkit-box;
	box-sizing: content-box;
	overflow: hidden;
	-webkit-box-align: stretch;
	-webkit-box-pack: justify;
	-webkit-box-orient: horizontal;
	font-weight: normal;
	font-style: normal;
	font-weight: normal;
	margin: 5px 5px;
	border: 2px solid $blue;
	border-radius: 5px;

	input{
		padding: 5px;
	}
}
label.text:not(.noicon):after{
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	display: -webkit-box;
	content: "\f040";
	color: $blue;
	-webkit-box-flex: 1;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	-webkit-box-orient: vertical;
	width: auto;
	min-width: 50px;
	max-width: 50px;
	border-left: 2px solid $blue;
}

label:active:after{
	background-color: $blue;
	color: $white;
}

label.normal{
	border: 0;
}

::-webkit-input-placeholder{
	font-family: Helvetica;
	color: black;
}

scroll{

	&::-webkit-scrollbar{
		width: 5px;
		background-color: $white2;

	}
	&::-webkit-scrollbar-button{}
	&::-webkit-scrollbar-track{
		background-color: $white2;
		margin-top: 5px;
		margin-bottom: 5px;

	}
	&::-webkit-scrollbar-track-piece{

	}
	&::-webkit-scrollbar-thumb{
		background-color: rgba( $blue, 0.5) ;
		border-radius: 25px;


	}
	&::-webkit-scrollbar-corner{}
	&::-webkit-resizer{}
}

@media all and (orientation: portrait) {
	page.in{
		panel.master:before{
			bottom: -2px;
		}
	}
	panel.master:before{
		border-top: 1px solid $grey;
		border-bottom: 1px solid $grey;
	}

	panel>actionbar{
		border-top: 0;
		border-bottom: 0;
		border-left: 1px solid $grey;
	}
	#MapsMasterPanel{
		row.master:first-of-type{
			max-width: 45%;
			width: 100%;
		}
		row.master:not(:first-of-type){
			border-left: 1px solid $grey;
		}
		panel.group{
			max-width: 99.9%;
			left: 1px;
		}
	}
	#InformationPanel{
		scroll{
			max-width: 50%;
			width: 100%;
		}
	}
}


@media all and (orientation: landscape) {
	page.in{
		panel.master:after{
			left: -2px;
		}
	}
	panel.master:after{
		border-right: 1px solid $grey;
		border-left: 1px solid $grey;
	}
	#MapsMasterPanel{
		row.master:not(:first-of-type){
			border-top: 1px solid $grey2;
		}
	}
}
