actionbar {
  background-color: #f7f7f8;
  border-top: 1px solid #8e8e93;
  border-bottom: 1px solid #8e8e93;
}
actionbar a.button {
  font-weight: normal;
  font-size: 1.2em;
  border-radius: 0;
  background-color: transparent;
  border: 0;
  border-radius: 0;
}

a.button {
  border-radius: 5px;
  border: 2px solid #007aff;
  background-color: white;
  color: #007aff;
  font-weight: bold;
  box-sizing: content-box;
}

a.button:active {
  background-color: #007aff;
  color: white;
}

row.button:active {
  background-color: #efeff4;
}
row.button:active:active {
  color: #007aff;
}

page.floating {
  border-radius: 5px;
  border: 2px solid #8e8e93;
}
page.floating actionbar:first-of-type:not(:last-child) {
  border-top: 0;
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.4);
}
page.floating actionbar:last-of-type:not(:first-child) {
  border-bottom: 0;
}

panel.master:after, panel.master:before {
  background-color: #efeff4;
  color: #007aff;
}

row.head {
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.4);
  background-color: #f7f7f8;
  border-bottom: 1px solid #c8c7cc;
}
row.head[novis] {
  display: none;
}

row.content actionbar {
  border-bottom: 0;
}

row.item {
  padding: 5px 0px;
  margin: 0px 5px;
  margin-top: -1px;
  border-top: 1px solid #c8c7cc;
  border-bottom: 1px solid #c8c7cc;
}
row.item:first-of-type {
  border-top: 0;
}
row.item a.button {
  border-radius: 0;
  padding: 5px;
  border: 0;
}
row.item a.button:active {
  background-color: transparent;
  color: #007aff;
}
row.item a.button.o {
  border-radius: 5px;
  border: 2px solid #007aff;
  margin: 5px;
}
row.item a.button.o:active {
  background-color: #007aff;
  color: white;
}

#GroupsMasterGroup row.item span {
  border-right: 1px solid #8e8e93;
  margin-right: 10px;
}
#GroupsMasterGroup row.item a.button:last-of-type {
  margin-right: 10px;
}

name {
  margin-left: 5px;
  padding-top: 2px;
}

serial {
  padding-top: 2px;
  padding-bottom: 2px;
  margin-left: 10px;
  font-size: 14px;
}

label.text {
  -webkit-box-flex: 1;
}

login label, login a.button {
  max-width: 50%;
  width: 100%;
}
login a.button {
  margin-top: 5px;
}
login label.text {
  -webkit-box-flex: 0;
  position: relative;
  display: -webkit-box;
  box-sizing: content-box;
  overflow: hidden;
  -webkit-box-align: stretch;
  -webkit-box-pack: justify;
  -webkit-box-orient: horizontal;
  font-weight: normal;
  font-style: normal;
  font-weight: normal;
  margin: 5px 5px;
  border: 2px solid #007aff;
  border-radius: 5px;
}
login label.text input {
  padding: 5px;
}
login label.text.noicon:before {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  display: -webkit-box;
  content: "\f073 ";
  color: #007aff;
  -webkit-box-flex: 1;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-orient: vertical;
  width: auto;
  min-width: 50px;
  max-width: 50px;
  border-right: 2px solid #007aff;
}

label.checkbox {
  padding: 5px;
  border-radius: 5px;
  overflow: hidden;
}
label.checkbox input {
  -webkit-box-flex: 1;
  position: relative;
  box-sizing: content-box;
  border: 2px solid #007aff;
  border-radius: 25px;
  background-color: rgba(12, 175, 232, 0.1);
}
label.checkbox input:after {
  display: -webkit-box;
  margin: 0;
  padding: 0;
  position: absolute;
  height: 100%;
  top: -2px;
  left: 75%;
  width: 50%;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-orient: horizontal;
  border-radius: 100%;
  border: 2px solid #007aff;
  background-color: #0cafe8;
  color: #007aff;
  -webkit-transform: translate3d(-50%, 0, 0);
  font-family: "FontAwesome";
  content: "\f09c";
}
label.checkbox input:checked {
  border-color: #e8b00c;
  background-color: rgba(255, 216, 0, 0.1);
}
label.checkbox input:checked:after {
  content: "\f023";
  left: 25%;
  border: 2px solid #e8b00c;
  background-color: #ffd800;
  color: #e8b00c;
  -webkit-transform: translate3d(-50%, 0, 0);
}

label.textarea {
  padding: 5px;
  border-radius: 5px;
}
label.textarea textarea {
  border-radius: inherit;
  display: -webkit-box;
  -webkit-box-flex: 1;
  width: 100%;
  height: 100%;
  -webkit-appearance: none;
  padding: 0;
  margin: 0;
  resize: none;
}

label.username, label.password {
  -webkit-box-flex: 0;
  position: relative;
  display: -webkit-box;
  box-sizing: content-box;
  overflow: hidden;
  -webkit-box-align: stretch;
  -webkit-box-pack: justify;
  -webkit-box-orient: horizontal;
  font-weight: normal;
  font-style: normal;
  font-weight: normal;
  border: 2px solid #007aff;
  border-radius: 5px;
  margin: 5px;
}
label.username input, label.password input {
  padding: 5px;
}
label.username:before, label.password:before {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  display: -webkit-box;
  content: "\f0d7";
  color: #007aff;
  -webkit-box-flex: 1;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-orient: vertical;
  width: auto;
  min-width: 50px;
  max-width: 50px;
  border-right: 2px solid #007aff;
}

label.username:before {
  content: "\f007";
}

label.password:before {
  content: "\f069";
}

label.select {
  position: relative;
  display: -webkit-box;
  box-sizing: content-box;
  overflow: hidden;
  -webkit-box-align: stretch;
  -webkit-box-pack: justify;
  -webkit-box-orient: horizontal;
  font-weight: normal;
  font-style: normal;
  font-weight: normal;
  margin: 5px 5px;
  border: 2px solid #007aff;
  border-radius: 5px;
}
label.select input {
  padding: 5px;
}
label.select:after {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  display: -webkit-box;
  content: "\f0d7";
  color: #007aff;
  -webkit-box-flex: 1;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-orient: vertical;
  width: auto;
  min-width: 50px;
  max-width: 50px;
  border-left: 2px solid #007aff;
}

label.text {
  position: relative;
  display: -webkit-box;
  box-sizing: content-box;
  overflow: hidden;
  -webkit-box-align: stretch;
  -webkit-box-pack: justify;
  -webkit-box-orient: horizontal;
  font-weight: normal;
  font-style: normal;
  font-weight: normal;
  margin: 5px 5px;
  border: 2px solid #007aff;
  border-radius: 5px;
}
label.text input {
  padding: 5px;
}

label.text:not(.noicon):after {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  display: -webkit-box;
  content: "\f040";
  color: #007aff;
  -webkit-box-flex: 1;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-orient: vertical;
  width: auto;
  min-width: 50px;
  max-width: 50px;
  border-left: 2px solid #007aff;
}

label:active:after {
  background-color: #007aff;
  color: white;
}

label.normal {
  border: 0;
}

::-webkit-input-placeholder {
  font-family: Helvetica;
  color: black;
}

scroll::-webkit-scrollbar {
  width: 5px;
  background-color: #efeff4;
}
scroll::-webkit-scrollbar-track {
  background-color: #efeff4;
  margin-top: 5px;
  margin-bottom: 5px;
}
scroll::-webkit-scrollbar-thumb {
  background-color: rgba(0, 122, 255, 0.5);
  border-radius: 25px;
}

@media all and (orientation: portrait) {
  page.in panel.master:before {
    bottom: -2px;
  }

  panel.master:before {
    border-top: 1px solid #8e8e93;
    border-bottom: 1px solid #8e8e93;
  }

  panel > actionbar {
    border-top: 0;
    border-bottom: 0;
    border-left: 1px solid #8e8e93;
  }

  #MapsMasterPanel row.master:first-of-type {
    max-width: 45%;
    width: 100%;
  }
  #MapsMasterPanel row.master:not(:first-of-type) {
    border-left: 1px solid #8e8e93;
  }
  #MapsMasterPanel panel.group {
    max-width: 99.9%;
    left: 1px;
  }

  #InformationPanel scroll {
    max-width: 50%;
    width: 100%;
  }
}
@media all and (orientation: landscape) {
  page.in panel.master:after {
    left: -2px;
  }

  panel.master:after {
    border-right: 1px solid #8e8e93;
    border-left: 1px solid #8e8e93;
  }

  #MapsMasterPanel row.master:not(:first-of-type) {
    border-top: 1px solid #c8c7cc;
  }
}
