$AnimTime: 200ms;
$AnimType: ease-in-out;

$VIN: '\f054';
$VOUT: '\f053';
$HIN:'\f077'; ;
$HOUT: '\f078';

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.1.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
body{
	background-color: white;
	display: -webkit-box;
	-webkit-box-flex:1;
	-webkit-box-align: stretch;
	-webkit-box-pack:start;
	-webkit-box-orient: horizontal;
	overflow: hidden;
}
page{
	background-color: white;
	display: -webkit-box;
	-webkit-box-flex:1;
	-webkit-box-align: stretch;
	-webkit-box-pack:start;
	-webkit-box-orient: vertical;
	box-sizing: border-box;
	overflow: hidden;
	position: relative;

}
page#main>actionbar>a.button{
	max-width: 88px;
	min-width: 88px;
}
page.floating{
	display: -webkit-box;
	-webkit-box-flex:1;
	-webkit-box-align: stretch;
	-webkit-box-pack:start;
	-webkit-box-orient: vertical;
	box-sizing: border-box;
	overflow: hidden;
	position: absolute;

}
page.floating>actionbar{
	&:first-of-type{
		a.button{
			min-width: 88px;
			max-width: 88px;
		}
	}
	&:last-of-type{
		-webkit-box-align: stretch;
		-webkit-box-pack:center;

	}
}
page.floating.fill{
	top: 0%;
	left: 0%;
	-webkit-transform: translate3d(0%, 0%, 0);
	min-width: 100%;
	min-height: 100%;
	max-width: 100%;
	max-height: 100%;
}
page.floating.fill-75{
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%, -50%, 0);
	min-width: 75%;
	min-height: 75%;
	max-width: 75%;
	max-height: 75%;
}
page.floating.fill-50-75{
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%, -50%, 0);
	min-width: 50%;
	max-width: 50%;
	min-height: 75%;
	max-height: 75%;
}
page.floating.half{
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%, -50%, 0);
	min-width: 50%;
	min-height: 50%;
	max-width: 50%;
	max-height: 50%;
}


panel{
	display: -webkit-box;
	-webkit-box-flex: 1;
	-webkit-box-align: stretch;
	-webkit-box-pack:start;
	box-sizing: border-box;
	overflow: hidden;
}
panel.master{
	&:before{
		font-family: "FontAwesome";
		display: -webkit-box;
		-webkit-box-flex: 0;
		-webkit-box-align: center;
		-webkit-box-pack:center;
		-webkit-box-orient: horizontal;
		height: 20px;
	}
	&:after{
		font-family: "FontAwesome";
		display: -webkit-box;
		-webkit-box-flex: 0;
		-webkit-box-align: center;
		-webkit-box-pack:center;
		-webkit-box-orient: horizontal;
		width: 20px;
	}
}
panel.group{
	display: -webkit-box;
	-webkit-box-flex: 1;
	-webkit-box-align: stretch;
	-webkit-box-pack:start;
	-webkit-box-orient: horizontal;
	position: relative;;
}
panel.child{
	position: absolute;
	top: 0;
	left: -1;
	width: 100%;
	height: 100%;
	box-sizing: content-box;
	background-color: white;
	-webkit-transform: translate3d(-100%, 0, 0);
	-webkit-transition: -webkit-transform $AnimTime $AnimType;
	&[left]{
		-webkit-transform: translate3d(-100%, 0, 0);
	}
	&[open]{
		-webkit-transform: translate3d( 0, 0, 0);
	}
	&[right]{
		-webkit-transform: translate3d( 100%, 0, 0);
	}
	&>actionbar{
		a.button{
			min-width: 100%;
			max-width: 100%;
		}
	}
}


row{
	display: -webkit-box;
	-webkit-box-flex: 0;
	-webkit-box-align: stretch;
	-webkit-box-pack:start;
	-webkit-box-orient: vertical;
	box-sizing: border-box;
	overflow: hidden;
}

row.head{
	-webkit-box-flex: 0;
}
row.back{
	-webkit-box-orient: horizontal;
}

row.item{

	-webkit-box-orient: horizontal;
	-webkit-box-flex: 0;

	span{
		display: -webkit-box;
		-webkit-box-flex: 1;
		-webkit-box-align: stretch;
		-webkit-box-orient: vertical;
		-webkit-box-pack: center;
		box-sizing: border-box;
	}
	// name, serial{
	// 	display: -webkit-box;
	// 	-webkit-box-flex: 1;
	// 	-webkit-box-align: stretch;
	// 	-webkit-box-orient: vertical;
	// 	-webkit-box-pack: center;
	// 	box-sizing: border-box;
	// }
}

name{
	display: -webkit-box;
	-webkit-box-flex: 1;
	-webkit-box-align: stretch;
	-webkit-box-orient: vertical;
	-webkit-box-pack: center;
	box-sizing: border-box;
	white-space: nowrap;
	overflow: hidden;
}
serial{
	display: -webkit-box;
	-webkit-box-flex: 1;
	-webkit-box-align: stretch;
	-webkit-box-orient: vertical;
	-webkit-box-pack: center;
	box-sizing: border-box;
	white-space: nowrap;
	overflow: hidden;
}

indicator{
	display: -webkit-box;
	box-sizing: border-box;
	overflow: hidden;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	-webkit-box-orient: vertical;
	-webkit-box-flex: 1;
	min-width: 20px;
	margin-left: 10px;
	margin-right: 10px;
}

row.item.button:after{
	font-family: "FontAwesome";
	content: "\f0da";
	display: -webkit-box;
	-webkit-box-flex: 1;
	min-width: 30px;
	max-width: 30px;
	-webkit-box-align: center;
	-webkit-box-orient: vertical;
	-webkit-box-pack: center;
	box-sizing: border-box;
}
row.item.button.remove:before{
	font-family: "FontAwesome";
	content: "\f057";
	display: -webkit-box;
	-webkit-box-flex: 1;
	min-width: 30px;
	max-width: 30px;
	-webkit-box-align: center;
	-webkit-box-orient: vertical;
	-webkit-box-pack: center;
	box-sizing: border-box;
}

label{
	position: relative;
	display: -webkit-box;
	-webkit-box-flex: 1;
	-webkit-box-align: stretch;
	-webkit-box-pack:center;
	-webkit-box-orient: horizontal;
	box-sizing: content-box;
	overflow: hidden;

	&:before,&:after{
		font-family: "FontAwesome";
	}
}
label.password, label.username, label.text{
	-webkit-box-flex:0;
}
label.checkbox>input:after{
	-webkit-transition: left $AnimTime*1.5 $AnimType, box-shadow $AnimTime*1.5 $AnimType;
}
label>input{
	-webkit-appearance: none;
	position: relative;
	display: -webkit-box;
	-webkit-box-flex: 0;
	-webkit-box-align: stretch;
	-webkit-box-pack:start;
	-webkit-box-orient: vertical;
	box-sizing: content-box;
	overflow: hidden;
	-webkit-box-flex: 1;
	background-color: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	font-size: inherit;
	line-height: inherit;
}

map{
	display: -webkit-box;
	-webkit-box-flex: 1;
	-webkit-box-align: stretch;
	-webkit-box-pack:start;
	-webkit-box-orient: vertical;
	box-sizing: border-box;
	overflow: hidden;
}
viewport{
	display: -webkit-box;
	-webkit-box-flex: 1;
	-webkit-box-align: stretch;
	-webkit-box-pack:start;
	-webkit-box-orient: vertical;
	box-sizing: border-box;
	overflow: hidden;
	img{
		position: relative;
		left: -1px;
		top: -0.5px;
		border: 1px solid rgba(black, 0.2);
		-webkit-transform: matrix(1,0,0,1,0,0);
	}
}

pog{
	position: absolute;
	display: -webkit-box;
	-webkit-box-flex: 1;
	-webkit-box-align: center;
	-webkit-box-orient: horizontal;
	-webkit-box-pack: center;
	height: 1px;
	width: 1px;
	background-color: black;
	top: 0;
	left: 0;
	-webkit-transform: matrix(1,0,0,1,0,0);
	&[novis]{
		visibility: hidden;
	}
	&:before{
		position: absolute;
		content: "";
		display: -webkit-box;
		width: 30px;
		height: 15px;
	    background-position:center;
	    background-size: 100% 100%;
	    background-repeat: no-repeat;
	    background-image: url("./POGS/shadow.gif");
	    opacity: 0.2;
		top: 0px;
		left: 0px;
		// opacity: 0.2;
		-webkit-transform: translate3d(-50%, -5%, 0)
	}
	&:after{
		position: absolute;
		content: "";
		display: -webkit-box;
		width: 40px;
		max-width: 40px;
		min-width: 40px;
		height: 50px;
		max-height: 50px;
		min-height: 50px;
	    background-position:center;
	    background-size: contain;
	    background-image: url("./POGS/D_S_S.gif");
	    background-repeat: no-repeat;
		top: -1em;
		left: 0px;
		-webkit-transform: translate3d(-50%, -50%, 0);
	}
	&:active{
		&:after{
			-webkit-transform: translate3d(-50%, -100%, 0);
		}
	}
	&.locked{
		&:after{
			background-image: url("./POGS/D_L_S.gif");
		}
		&.selecteddevice{
			&:after{
				background-image: url("./POGS/D_L_A.gif");
				// zoom: 1.2;
			}
		}
	}
	&.unlocked{
		&:after{
			background-image: url("./POGS/D_U_S.gif");
		}
		&.selecteddevice{
			&:after{
				background-image: url("./POGS/D_U_A.gif");
				// zoom: 1.2;
			}
		}
	}
	&.togDelete{
		&:after{
			background-image: url("./POGS/D_D_S.gif") !important;
		}
		&.selecteddevice{
			&:after{
				background-image: url("./POGS/D_D_A.gif") !important;
				// zoom: 1.2;
			}
		}
	}
}


content{
	display: -webkit-box;
	-webkit-box-flex:1;
	-webkit-box-align: stretch;
	-webkit-box-pack:center;
	box-sizing: border-box;
	overflow: hidden;
}

actionbar{
	display: -webkit-box;
	-webkit-box-flex: 1;
	-webkit-box-align: stretch;
	-webkit-box-pack:start;
	box-sizing: border-box;
	overflow: hidden;
	min-height: 44px;
	max-height: 44px;
	box-sizing: border-box;

	a.button{
	}
}

scroll{
	display: -webkit-box;
	-webkit-box-flex:1;
	-webkit-box-align: stretch;
	-webkit-box-pack:start;
	box-sizing: border-box;
	overflow: hidden;
	-webkit-box-orient: vertical;

	&.y{
		overflow-y: auto;
	}
	&.x{
		overflow-x: auto;
	}
}

title{
	display: -webkit-box;
	-webkit-box-flex:1;
	-webkit-box-align: center;
	-webkit-box-pack:start;
	box-sizing: border-box;
	overflow: hidden;
	padding: 0 20px;
}

a.button{
	display: -webkit-box;
	-webkit-box-flex: 1;
	-webkit-box-align: center;
	-webkit-box-pack:center;
	-webkit-box-orient: horizontal;
	text-decoration: none;
	box-sizing: border-box;
	overflow: hidden;

	&:before, &:after{
		content: "";
		display: -webkit-box;
		font-family: "FontAwesome";
	}

	&.logo:after{
		content: "\f0c9";
	}
	&.add:after{
		content: "\f067";
	}
	&.download:after{
		content: "\f019";
	}
	&.save:after{
		content: "\f0c7";
	}
	&.trash:after{
		content: "\f014";
	}
	&.clear:after{
		content: "\f014";
	}
	&.log:after{
			content: "\f02d ";
	}
	&.options:after{
		content: "\f142";
	}
	&.login:after{
		content: "\f090";
	}
	&.backward:after{
		content: "\f177 ";
	}
	&.forward:after{
		content: "\f178 ";
	}
	&.back:after{
		content: "\f0d9";
	}
	&.haskids:after{
		content: "\f196";
	}
	&.haskids:active:after{
		content: "\f146 ";
	}
	&.haskids.hide{
		visibility: hidden;
	}
	&.isselected:after{
		content: "\f096  ";
	}
	&.isselected:active:after{
		content: "\f046  ";
	}
	&.open:after{
		content: "\f115";
	}
	&.capture:after{
		content: "\f030";
	}
	&.close:after{
		content: "\f00d ";
	}
	&.locate:after{
		content: "\f041  ";
	}
	&.upload:after{
		content: "\f093";
	}
}

login{
	display: -webkit-box;
	-webkit-box-flex:1;
	-webkit-box-align: center;
	-webkit-box-pack:center;
	-webkit-box-orient: vertical;
	box-sizing: border-box;
	overflow: hidden;
	a.button{
		max-height: 44px;
		min-height: 44px;
	}
}


shadow{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
	text-decoration: none;
	box-sizing: border-box;
	overflow: hidden;
	background-color: rgba(black, 0.2);
}

#GroupsMasterGroup{
	row.item{
		span{
			-webkit-box-flex: 5;
		}
		a.button{
			-webkit-box-flex: 0;
			min-width: 50px;
			max-width: 50px;
		}
	}
}

@media all and (orientation: portrait) {
	content{
		-webkit-box-orient: vertical;
	}
	panel.master{
		-webkit-box-ordinal-group: 2;
		-webkit-box-orient: vertical;
	}
	panel.child{
		-webkit-box-orient: horizontal;
		&>actionbar{
			max-width: 44px;
			min-width: 44px;
			width: 100%;
			-webkit-box-orient: vertical;

		}
	}
	row.master{

	}
	map{
		-webkit-box-ordinal-group: 1;
		// height: 100%;
		min-height: 50%;
		// max-height: 50%;
	}
	page.in{

		panel.master{
			max-height: 20px;
			min-height: 20px;
			-webkit-transition: height $AnimTime $AnimType;
			&:before{
				content: $HIN;
			}
		}
	}
	page.out{
		panel.master{
			max-height: 300px;
			height: 100%;
			-webkit-transition: max-height $AnimTime $AnimType;
			&:before{
				content: $HOUT;
			}
		}
	}

	#InformationPanel{
		row.content{
			-webkit-box-orient: horizontal;
			-webkit-box-flex:1;
		}
	}
	page#login{
		-webkit-box-orient: vertical;
	}
}



@media all and (orientation: landscape) {
	content{
		-webkit-box-orient: horizontal;
	}
	panel.master{
		-webkit-box-ordinal-group: 1;
		-webkit-box-orient: horizontal;
	}
	panel.child{
		-webkit-box-orient: vertical;
		&>actionbar{
			max-height: 44px;
			min-height: 44px;
			-webkit-box-orient: horizontal;

		}
	}
	map{
		-webkit-box-ordinal-group: 2;
		// min-height: 100%;
		// max-height: 100%;
		// height: 100%;
	}
	page.in{
		panel.master{
			max-width: 20px;
			min-width: 20px;
			-webkit-transition: width $AnimTime $AnimType;
			&:after{
				content: $VIN;
				position: relative;
			}
		}
	}
	page.out{
		panel.master{
			max-width: 300px;
			min-width: 300px;
			-webkit-transition: width $AnimTime $AnimType;


			&:after{
				content: $VOUT;
			}
		}
	}
	page#login{
		-webkit-box-orient: horizontal;
	}
}


[fill]{
	-webkit-box-flex:1;
}

[novis]{
	top: 0 !important;
	left: 0 !important;
	max-width: 0 !important;
	max-height: 0 !important;
	-webkit-transform: translate3d(-100%, 0, 0) !important;
	visibility: hidden !important;
}
